<div id="wrapper">
  <div class="navbar-default sidebar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" ui-sref="user.profile">{{user.pseudo}}</a> </div>
    <div class="clearfix"></div>
    <div class="sidebar-nav navbar-collapse">

      <!-- user profile pic -->
      <div class="userprofile text-center">
        <div class="userpic"><a ui-sref="user.profile"><img src="http://github.com/{{user.pseudo}}.png" alt="" class="userpicimg"></a></div>
        <h3 class="username">{{user.prenom}} {{user.nom}}</h3>
        <p>Alias {{user.pseudo}}, {{user.age}} ans</p>
      </div>
      <div class="clearfix"></div>
      <!-- user profile pic -->

      <ul class="nav" id="side-menu">
        <li> <a ui-sref="user.profile"><i class="fa fa-window-restore"></i>Données personnelles</a> </li>
        <li> <a href="tables.html"><i class="fa fa-table fa-fw"></i>Mes parties</a> </li>
        <li> <a ui-sref="user.contests"><i class="fa fa-edit fa-fw"></i>Contests</a> </li>
        <li> <a ui-sref="user.challenge"><i class="fa fa-edit fa-fw"></i>Défis</a> </li>
        <li> <a ui-sref="user.mygames"><i class="fa fa-edit fa-fw"></i>Mes jeux</a> </li>
        <li> <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Boutique</a> </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->

  <!-- Page Content -->
  <div id="page-wrapper">

    <div class="row">
      <div class="col-md-12  header-wrapper">
        <h1 class="page-header">Mes jeux</h1>
        <p class="page-subtitle">Consultez votre liste de jeux et modifiez-la si nécessaire.</p>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <ol class="breadcrumb">
      <li><a href="javascript:void(0)">{{user.pseudo}}</a></li>
      <li>Dashboard</li>
      <li class="active">Mes jeux</li>
    </ol>
    <div class="row">

      <div class="col-lg-12 col-sm-12 pull-left posttimeline">

        <div class="panel panel-default">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <ul class="nav nav-pills">
                  <li class="active"><a data-toggle="tab" href="mygames#ps4">PS4</a></li>
                  <li><a data-toggle="tab" href="mygames#xboxone">Xbox One</a></li>
                  <li><a data-toggle="tab" href="mygames#ajouter">Ajouter un jeu</a></li>
                </ul>

                <div class="tab-content">
                  <div id="ps4" class="tab-pane fade in active">
                    <h4 class="media-heading">
                    <p>Voici tous les jeux que tu possèdes sur PS4. Organise des parties libres, des tournois et remporte des défis !</p></h4>
                    <div class="col-md-12">
                      <div class="games text-center">
                      <img src="../../img/nier.jpg" class="cover" alt="">
                      <img src="../../img/sexy-brutal.jpg" class="cover" alt="">
                      <a ui-sref="user.gamepage"><img src="../../img/gtav.jpg" class="cover" alt=""></a>
                      <img src="../../img/horizon.jpg" class="cover" alt="">
                      <img src="../../img/nfs.png" class="cover" alt="">
                    </div>
                  </div>
                </div>
                  <div id="xboxone" class="tab-pane fade">
                    <h4 class="media-heading">
                    <p>Oops ! Vous ne possédez actuellement aucun jeu sur ce support. Cliquez sur <strong>Ajouter un jeu</strong> pour y remédier !</p></h4>
                  </div>
                  <div id="ajouter" class="tab-pane fade">
                    <h4 class="media-heading">
                    <p>Pour ajouter un jeu à votre collection, tapez son nom dans le champ de recherche ci-dessous :</p></h4>
                    <div class="col-xs-12 col-sm-6 col-md-12">
                      <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-lg" ng-model="game.title" required placeholder="Ex : GTA V, Pokémon GO..." tabindex="1">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- /.row -->
