<div id="wrapper">
  <div class="navbar-default sidebar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="index.html">{{user.pseudo}}</a> </div>
    <div class="clearfix"></div>
    <div class="sidebar-nav navbar-collapse">

      <!-- user profile pic -->
      <div class="userprofile text-center">
        <div class="userpic"><a ui-sref="user.profile"><img src="http://github.com/{{user.pseudo}}.png" alt="" class="userpicimg"></a></div>
        <h3 class="username">{{user.prenom}} {{user.nom}}</h3>
        <p>Alias {{user.pseudo}}, {{user.age}} ans</p>
      </div>
      <div class="clearfix"></div>
      <!-- user profile pic -->

      <ul class="nav" id="side-menu">
        <li> <a ui-sref="user.profile"><i class="fa fa-window-restore"></i>Données personnelles</a> </li>
        <li> <a ui-sref="user.myevents"><i class="fa fa-table fa-fw"></i>Mes parties</a> </li>
        <li> <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Contests</a> </li>
        <li> <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Défis</a> </li>
        <li> <a ui-sref="user.mygames"><i class="fa fa-edit fa-fw"></i>Mes jeux</a> </li>
        <li> <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Boutique</a> </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->

  <!-- Page Content -->
  <div id="page-wrapper">

    <div class="row">
      <div class="col-md-12  header-wrapper">
        <h1 class="page-header">Mon compte</h1>
        <p class="page-subtitle">Consultez votre compte et modifiez vos données personnelles ici.</p>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <ol class="breadcrumb">
      <li><a href="javascript:void(0)">{{user.pseudo}}</a></li>
      <li>Dashboard</li>
      <li class="active">Mes données personnelles</li>
    </ol>
    <div class="row">

      <div class="col-lg-8 col-sm-12 pull-left posttimeline">

        <div class="panel panel-default">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading">Mes données personnelles<br>
                <p>Voici vos données personnelles. Pour les éditer, cliquez sur Modifier.</p>
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Nom complet</dt>
                    <dd>{{user.prenom}} {{user.nom}}</dd>
                    <dt>Pseudo</dt>
                    <dd>{{user.pseudo}}</dd>
                    <dt>Age</dt>
                    <dd>{{user.age}} ans</dd>
                    <dt>Email</dt>
                    <dd>{{user.email}}</dd>
                    <dt>Level</dt>
                    <dd><div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                    75% effectué - LEVEL 12 / 500
                    </div>
                    </div></dd>
                    <dt>GamersCoins</dt>
                    <dd><input class="btn btn-primary pull-right" type="submit" value="Modifier"></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- /.row -->

<!-- /#wrapper -->
<div class="feedback">
  <button class="btn btn-primary feedbackbtn"><i class="fa  fa-comment-o"></i></button>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="page-header small">Hello {{user.pseudo}},</div>
      <div class="page-subtitle small">T'as une question ? Contacte-nous, on te répondra sous 24h !</div>
    </div>
    <div class="panel-body">
      <textarea class="form-control" placeholder="Tape ta question ici"></textarea>
    </div>
    <div class="panel-footer">
      <button class="btn btn-primary">Envoyer</button>
    </div>
  </div>
</div>
